.App {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .content {
    flex: 1;
  }
  .describe {
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 0;
  }
 
  .box{
    height:100%;
    width:100%;
    background-color:white;
  }
  .upload input {
    display: inline;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    align-items: center;
    background-color: lightblue;
    border-radius: 4px;
    
  }


.p-3 {
  padding: 1rem!important;
  /* text-align: right; */
}
.bg-white {
  background-color: #fff!important;
  border-style: solid;
  border-width: thin;
  border-color: rgba(87, 84, 84, 0.63);
  margin-top: -100;
  border-radius: 4px;
}
.my-3 {
  margin-bottom: 1rem!important;
  width: fit-content;
}

/* table, th, td {
  border: 1px  black;
} */
table {
  border-collapse: collapse;
  width: 800px;
  text-align: left;
}

table .thead-dark th {
  color: #fff;
  background-color: lightgray;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.452);
}
.table thead th {
  vertical-align: bottom;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-color: lightgray;
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.342);
}

.table td, .table th {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  
}
.table th{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.notes{
  align-items: center;
}

.btn{
  padding: auto;
}

.btn-numbers{
  border-radius: 4px;
  outline: none;
  border-style: solid;
  border-width: 2;
  border-color: lightgray;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  padding-left: 100;
  color: gray;
}

.btn-numbers:hover{
  background: lightgray;
  color: #fff;
  border-color: lightgray;
}

.btn-student{
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  outline: none;
  border-style: solid;
  border-width: 2;
  border-color: rgba(57, 142, 212, 0.74);
  cursor: pointer;
  background-color: rgba(57, 142, 212, 0.74);
  font-size: 16px;
  font-weight: bold;
  padding-left: 100;
  color: white;
}


.btn-student:hover {
  background: rgba(159, 201, 236, 0.89);
  color: #fff;
  border-color: rgba(159, 201, 236, 0.89);
}

#choose-file{
  display: none;
}
#upload-file{
  display: none;
}

.btn-upload{
  padding: 10px;
  margin: 10px;
  background-color: rgba(57, 142, 212, 0.74);
  border-radius: 4px;
  color: white;
}

.btn-upload:hover {
  background: rgba(159, 201, 236, 0.89);
  color: #fff;
  border-color: rgba(159, 201, 236, 0.89);
}

input.search {
  height: 40px;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 320px;
  border-color: #babacc;]
  position: center;
  width: fit-content;
}

.search {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
