@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    font-family: 'Quicksand';
}
.sign-up-button{
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.style-sub{
    font-size:3rem;
    font-weight: 600;
}

.style-describe{
    font-size: 1.5rem;
}
