.NavbarItems {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color:black;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;

}

.fa-react{
    margin-left: 0.5;
    font-size: 1.6rem;
}
.nav-menu{
    padding: 0;
    flex: 1;
    text-align: start;
    font-size: 30px;
    font-weight: bold;
}
li{
    display: inline;
    list-style: none;
    padding: 1rem 2rem;
}
.nav-links{
    color: black;
    text-decoration: none;
    
    
}

.NavbarItems .logo{
    flex: 0 0;
    width: 250px;
}
